body{
background-color: rgb(182, 201, 191);
background-image: url(image/images.jpg);
background-repeat: no-repeat;
background-size:cover;
}
#dog,#smile{
    float: right;
}
#birds{
    float: left;
    height: 10%;
    width: 7%;
border-radius: 100%;
}
a,p{
    
    display: flex;
    justify-content: center;
}
a:hover,a:active{
    color: #a8a8a8;

}
a:link,a:visited{
    text-decoration: none;
    
}
table,th,td{
    border: 1px inset #a8a8a8;
    border-collapse:separate;
    padding: 40px;
   border-spacing: 10px;
}
tr:nth-child(even),th:nth-child(even),td:nth-child(even){
    background-color:#5856da;/*zebra color*/
}
tr:hover{
    background-color: red;/*color will be applied to column wise */
}
