body {
    box-sizing: border-box;
    padding: 0;
    bottom: 0;
}

.container {
    height: 300px;
    width: 300px;
    position: absolute;
    top: calc(50% - 150px);
    left: calc(50% - 150px);
    background: transparent;
    box-shadow: 0px 0px 2px 2px rgb(196, 194, 194);
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 40px;
    padding: 10px;
}

.counter {
    font-size: 50px;
}

.counterbotton {
    display: flex;
    justify-content: center;
    gap: 10px;
}

.counterbotton button {
    height: 30px;
    width: 90px;
    color: aliceblue;
    background-color: rgb(58, 58, 95);
    border-radius: 8px;
    border: none;
}

button:hover {
    background-color: rgb(92, 92, 177);
    cursor: pointer;
    scale: 1.1;
    border: 1 px solid rgb(27, 25, 25);
    color: black;
}
