 * {
     box-sizing: border-box;
     margin: 0;
     padding: 0;
 }

 .container {
     display: flex;
     justify-content: space-between;
 }

 ul {
     display: flex;
     gap: 30px;
     list-style-type: none;
 }