@import url('https://fonts.cdnfonts.com/css/ica-rubrik-black');
@import url('https://fonts.cdnfonts.com/css/poppins');

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

.banner {
    /* background: rgb(20, 16, 79); */
    /* background: linear-gradient(219deg, rgba(20, 16, 79, 1) 23%, rgba(8, 37, 55, 1) 40%, rgba(28, 38, 65, 1) 45%, rgba(83, 41, 47, 1) 54%, rgba(130, 46, 141, 1) 77%); */
    width: 100%;
    height: 100vh;
    text-align: center;
    overflow: hidden;
    position: relative;
}

.banner .slider {

    width: 200px;
    height: 250px;
    position: absolute;
    top: 10%;
    left: calc(50% - 100px);

    /* 3d */
    transform-style: preserve-3d;
    transform: perspective(1000px);

    /* rotion slider default item will be rotate */
    animation: autoRun 30s linear infinite;
    z-index: 2;
}

@keyframes autoRun {
    from {
        transform: perspective(1000px) rotateX(-15deg) rotateY(0deg);
    }

    to {
        transform: perspective(1000px) rotateX(-15deg) rotateY(360deg);

    }
}

.banner .slider .item {
    position: absolute;
    inset: 0 0 0 0;
    /* seting radious through z direction */
    transform:

        rotateY(calc((var(--position) - 1)*(360 / var(--numitem)) * 1deg)) translateZ(550px);

}

.banner .slider .item img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}



/* content */
.banner .content {
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    width: max(1400px, 100vh);
    height: max-content;
    padding-bottom: 100px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;

}

.banner .content h1 {
    font-family: 'IcA Rubrik';
    font-size: 15em;
    /* line-height: 1em; */
    color: #252838;
    position: relative;
}
.banner .content h1::after{
    position: absolute;
    inset: 0 0 0 0;
    content: attr(data-content);
    z-index: 2;
    -webkit-text-stroke: 2px #d2d2d2 ;
    color: transparent;
}

.banner .content .author {
    font-family: 'Poppins', sans-serif;
    text-align: center;
    max-width: 200px;
}

.banner .content h2 {
    font-size: 3em;
}

.banner .content .model {
    background-image: url("./asserts/model.png");
    z-index: 0;
    width: 100%;
    height: 72vh;
    position: absolute;
    bottom: 0;
    left: 0;
    background-size: auto 130%;
    background-repeat: no-repeat;
    background-position: top center;

}


/* bacground animation */
body {
    margin: auto;
    font-family: -apple-system, BlinkMacSystemFont, sans-serif;
    overflow: auto;
    background: linear-gradient(315deg, rgb(84, 12, 80) 3%, rgb(1, 23, 46) 38%, rgb(8, 62, 59) 68%, rgb(69, 9, 9) 98%);
    animation: gradient 15s ease infinite;
    background-size: 400% 400%;
    background-attachment: fixed;
}

@keyframes gradient {
    0% {
        background-position: 0% 0%;
    }

    50% {
        background-position: 100% 100%;
    }

    100% {
        background-position: 0% 0%;
    }
}

.wave {
    background: rgba(232, 223, 223, 0.25);
    border-radius: 1000% 1000% 0 0;
    position: fixed;
    width: 200%;
    height: 12em;
    animation: wave 10s -3s linear infinite;
    transform: translate3d(0, 0, 0);
    opacity: 0.8;
    bottom: 0;
    left: 0;
    z-index: -1;
}

.wave:nth-of-type(2) {
    bottom: -1.25em;
    animation: wave 18s linear reverse infinite;
    opacity: 0.8;
}

.wave:nth-of-type(3) {
    bottom: -2.5em;
    animation: wave 20s -1s reverse infinite;
    opacity: 0.9;
}

@keyframes wave {
    2% {
        transform: translateX(1);
    }

    25% {
        transform: translateX(-25%);
    }

    50% {
        transform: translateX(-50%);
    }

    75% {
        transform: translateX(-25%);
    }

    100% {
        transform: translateX(1);
    }
}